a:link
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	text-decoration: none;
	color: inherit;
}

body
{
	font-family: Open Sans Condensed;
	background-color: rgba(228, 223, 223, 1);
	margin: 0;
}

h1
{
	font-size: 50px;
	font-weight: lighter;
    font-style: italic;
	color: rgb(70,70,70);
    margin: 10px 0 0px 0px;
}

h2
{
	font-size: 30px;
	font-weight: bold;
	margin-top: 40px;
}

h3
{
	font-size: 19px;
	font-weight: bold;
	color: rgb(78, 78, 78);
	margin-bottom: 10px;
}

p
{
	font-size: 19px;
}

hr
{
    width: 100%;
	border-bottom: 1px solid rgb(207, 202, 202);
    border-top: 0;       
}

body .container
{
	width: 970px;
	margin: 0 auto;
	padding-bottom: 50px;
	box-shadow: 0px 1px 0.1px 0px rgb(126, 126, 126);
	background: #FFF;
}

body .container .header
{
	z-index: 1;
	position: fixed;
	width: 970px;
	height: 500px;
	background: url('../img/cover.jpg');
	background-size: 100%;
}

body .container .header-shadow
{
	z-index: 0;
	position: relative;
	width: 100%;
	height: 500px;
	background: #FFF;
}

body .container .content
{
	z-index: 3;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-top: 10px;
	background: rgba(255, 255, 255, 0.96);
}

body .container .content .nav
{
	float: left;
	width: 230px;
	padding: 55px 0 0 0;
}

body .container .content .nav ul
{
	list-style-type: none;
	font-size: 25px;
    font-style: italic;
    color: rgb(70,70,70);
}

body .container .content .nav li
{
	margin-bottom: 10px;
}

body .container .content .text
{
	float: left;
	width: 690px;
}

body .container .content .text p
{
	margin: 0;
}

body .container .content .text #gallery img
{
	width: 48.3%;
	margin: 0 5px 5px 0;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.42);
}