a:link
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	text-decoration: none;
	color: inherit;
}

body
{
	font-family: Open Sans Condensed;
	background-color: rgba(228, 223, 223, 1);
	margin: 0;
}

h1
{
	font-size: 50px;
	font-weight: lighter;
    font-style: italic;
	color: rgb(70,70,70);
    margin: 10px 0 0px 0px;
}

h2
{
	font-size: 30px;
	font-weight: bold;
	margin: 40px 0 0 0;
}

h3
{
	font-size: 19px;
	font-weight: bold;
	color: rgb(78, 78, 78);
	margin-bottom: 10px;
}

p
{
	font-size: 19px;
}

hr
{
    width: 100%;
	border-bottom: 1px solid rgb(207, 202, 202);
    border-top: 0;       
}

body #image-container
{
	display: none;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.95);
}

body #image-container span {

    position: fixed;
    top: 0px;
    right: 0px;
    font: 60px sans-serif;
    color: #FFF;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    margin: 20px;
    cursor: pointer;
}

body #image-container .left {

	position: fixed;
	width: 10%;
	height: 100%;
	cursor: pointer;

}

body #image-container .right {

	position: fixed;
	right: 0px;
	width: 10%;
	height: 100%;
	cursor: pointer;

}

/*body #image-container .image-viewer
{
	width: 1014px;
	height: 100%;
	margin: 0 auto;
}*/

body #image-container /*.image-viewer*/ ul
{
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body #image-container /*.image-viewer*/ ul li
{
	float: left;
	display: none;
	width: 0%; 
	height: 100%; 
	border-left: 1px solid rgb(190, 190, 190); 
}

body #image-container /*.image-viewer*/ img
{
	width: 100%;
}

body .container
{
	width: 970px;
	margin: 0 auto;
	padding-bottom: 50px;
	box-shadow: 0px 1px 0.1px 0px rgb(197, 197, 197);
	background: #FFF;
}

body .container .header
{
	z-index: 1;
	position: fixed;
	width: 970px;
	height: 500px;
	background: url('../img/cover.jpg');
	background-size: 100%;
}

body .container .header-shadow
{
	z-index: 0;
	position: relative;
	width: 100%;
	height: 500px;
	background: #FFF;
}

body .container .content
{
	z-index: 3;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-top: 10px;
	/*redundancia para <=IE8*/
	background: url('../img/stock/bg_alpha.png');
	background: rgba(255, 255, 255, 0.92);
}

body .container .content .nav
{
	float: left;
	width: 230px;
	padding: 55px 0 0 0;
}

body .container .content .nav ul
{
	list-style-type: none;
	font-size: 25px;
    font-style: italic;
    color: rgb(70,70,70);
}

body .container .content .nav li
{
	margin-bottom: 10px;
}

body .container .content .text
{
	float: left;
	width: 690px;
}

body .container .content .text p
{
	margin: 0;
}

body .container .content .text #gallery img
{
	cursor: pointer;
	width: 340.9px;
	margin: 2.5px 2.5px 0 0;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.42);
}